html{
	font-size:62.5%;
	font-family:"Poppins", san-serif;
}

*{
	box-sizing:border-box;
}

body{
 width:100%;
 height: 100vh;
 background-image:linear-gradient(to right top, #ff4988, #ffc781, #ffefc);
}